body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navegacao.css */
.barra-navegacao {
  list-style: none;
  display: flex;
  background-color: #333;
  padding: 10px;
}

.barra-navegacao li {
  margin-right: 20px;
}

.barra-navegacao a {
  text-decoration: none;
  color: white;
}

.barra-navegacao a:hover {
  color: lightgray;
};